@model IEnumerable<projectLaundry.Models.adminClass>

@{
    ViewBag.Title = "Daftar Admin";
}

<h2>Daftar Admin</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { }, new {@class="btn btn-success"})
</p>
<table class="table">
    <tr>
        <th>
            Nama Admin
        </th>
        <th>
            Alamat
        </th>
        <th>
            No Hp
        </th>
        <th>
            Username
        </th>
        <th>
            Password
        </th>
        <th>
            Aksi
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nama_admin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alamat_admin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.no_telp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.username_admin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password_admin)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_admin }, new {@class="btn btn-primary"}) |
            @Html.ActionLink("Details", "Details", new { id=item.id_admin }, new {@class="btn btn-warning"}) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_admin }, new {@class="btn btn-danger"})
        </td>
    </tr>
}

</table>
